* {
  margin: 0;
  padding: 0;
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Public Sans", sans-serif;
}

/* General css */
:root{
    --primaryColor:#075e89;
    --LightColor: #fff;
    --SecondaryColor: #f99a00;
    --DarkColor: #585858;
}
.primary-color{
    background-color: var(--primaryColor)
}

/* navbarcss */
.nav-item{
    font-size: medium;
    color: var(--DarkColor);
}


/* hero section */


.hero .carousel-item img {
    height: 35em ;
    width: 100%;
    /* overflow: hidden; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: contain;
    align-items: center;
    justify-content: center;
    
}


.hero .carousel-item::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.6;
}

.hero .carousel-item .carausal-container{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.hero .carausal-topics{
    align-items: center;
    width: 70%;
    text-align: center;
    color: #fff;
}

/* Student info */
.std-info .card-title{
    font-size: 30px;
    font-weight: 200px;
}

.about-section .message  .hidden{
    display: none;
}


/* gallery */
.gallery .gallery-items img{
    max-width: 100%;
    background-color: #ffffffff;
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    cursor: pointer;
}
.gallery .gallery-items{
    background-color: #dbddf1;
    /* padding: 80px 0; */
    align-items:center ;
    justify-content: center;
}

.gallery-model .model-img{
    width: 100;
}

